html,
body {
  height: 100%;
}
.info {
  position: fixed;
  z-index: 10;
  top: 20px;
  right: 20px;
  display: flex;
}
.info:hover {
  cursor: pointer;
}
.text {
  padding: 10px 20px;
  background-color: #6c7c7c;
  margin-right: 10px;
}
.title {
  color: #ffbb00;
}
a {
  color: #91b8b3;
  text-decoration: none;
}
.open {
  background-color: #6c7c7c;
  padding: 10px;
}
.inputx {
  width: 70px;
  border-width: 2px;
  border-style: solid;
  padding: 5px;
  border-radius: 5px;
  background-color: #ffbb00;
  border-color: #000000;
  font-size: 18px;
  font-weight: bold;
  text-align: center;
}
.inputx:focus {
  outline: none;
}
.buttonx {
  box-shadow: inset 0px 1px 3px 0px #91b8b3;
  background: linear-gradient(to bottom, #768d87 5%, #6c7c7c 100%);
  background-color: #768d87;
  border-radius: 5px;
  border: 1px solid #566963;
  display: inline-block;
  cursor: pointer;
  color: rgb(236, 245, 197);
  font-size: 15px;
  padding: 8px 17px;
  text-decoration: none;
  text-shadow: 0px -1px 0px #2b665e;
}
.buttonx:hover {
  background: linear-gradient(to bottom, #6c7c7c 5%, #768d87 100%);
  background-color: #6c7c7c;
}
.buttonx:active {
  position: relative;
  top: 1px;
}
.square {
  display: flex;
  width: 400px;
  height: 400px;
  align-items: center;
  justify-content: center;
  background: radial-gradient(circle closest-side at center, rgb(255, 212, 93), rgba(255, 215, 0, 0));
  /* ten kolor do druku !!! */
  /* background: radial-gradient(circle closest-side at center, rgb(255, 255, 255), rgba(255, 255, 255, 0)); */
}
.interface {
  display: flex;
  justify-content: space-between;
  width: 300px;
  margin-top: 10px;
}
h1 {
  color: rgb(223, 223, 179);
  font-size: 60px;
  letter-spacing: 6px;
  margin: -40px 0px 46px 0px;
  text-shadow: 2px 2px 4px #000000;
}
h4 {
  color: rgb(236, 245, 197);
  letter-spacing: 1px;
  margin: 0px;
  margin-top: 15px;
  text-shadow: 2px 2px 4px #000000;
}
.flex_container {
  height: 100vh;
  padding: 0;
  margin: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}
.canvas {
  text-align: center;
  position: relative;
}
body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen", "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-image: url(../assets/runes_2.jpg);
  background-size: cover;
  background-position: center;
}
